<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="UTF-8">
    <title>DEMO</title>
    <link rel="stylesheet" type="text/css" href="bower/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/demo.css">
    <script type="text/javascript" src="bower/angular/angular.js"></script>
    <script type="text/javascript" src="libs/hAuto.js"></script>
</head>
<body>
    
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-heading">Basic Auto Complete Demo</div>
            <div class="panel-body" ng-controller="BasicController">
                <h-auto value="valueOne" input-class="form-control" init-items="data" item-select="onSelect(item, index)"></h-auto>
                <button class="btn btn-primary" ng-click="displayValue()">Submit</button>
            </div>
         </div>
         <div class="panel panel-success">
            <div class="panel-heading">Advanced lazy-loading</div>
            <div class="panel-body" ng-controller="LazyController">
                <h-auto value="valueTwo" lazy-load="loading(handler,searchTxt)" item-select="onSelect(item, index)"></h-auto>
                <button class="btn btn-warning" ng-click="displayValue()">show value</button>
            </div>
         </div>
         <div class="panel panel-success">
            <div class="panel-heading">specify property to display in search result</div>
            <div class="panel-body" ng-controller="ObjectController">
                <h-auto value="valueTwo" display-field="name" init-items="data2" item-select="onSelect(item, index)"></h-auto>
                <button class="btn btn-danger" ng-click="displayValue()">show value</button>
            </div>
         </div>
         <div class="panel panel-success">
            <div class="panel-heading">specify formatter for each item in search result</div>
            <div class="panel-body" ng-controller="FormatterController">
                <h-auto value="valueTwo" display-formatter="formatter()" init-items="data2" item-select="onSelect(item, index)"></h-auto>
                <button class="btn btn-info" ng-click="displayValue()">show value</button>
            </div>
         </div>
    </div>
</body>
<script type="text/javascript" src="libs/demo.js"></script>
</html>